<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    <title>url-shortner</title>
</head>
<body>
    <div class="conatiner">
        <div class="box">
            <h1>URL shortner </h1>
            <form action="{% url 'create' %}" method="post">
                {% csrf_token %}
                <input type="text" name="link" id="link" placeholder="Link..."><br>
                <input type="submit" id="btn" value="convert">
            </form>
            {% if short_url %}
                <div>
                    <h3 style="color: aqua;">
                        {{short_url}}
                    </h3>
                </div>
            {% endif %}
            <footer style="position: relative; top: 100px;">
                <h3>&#x21ac; Use this way to access the short link after generating it.<br>
                <b style="color: white;">https://url-shortner.com/<'short-link'></b></h3>
            </footer>
        </div>
    </div>
</body>
</html>